@{
    ViewData["Title"] = "Cinecore";
}

<div class="d-flex justify-content-center">
    <form asp-action="Search" method="get">
        <div class="mt-3" style="width: 600px;">
            <input type="text" name="SearchString" class="form-control rounded-pill border-secondary bg-secondary-subtle bg-opacity-25 form-control-lg" placeholder="Search..." />
        </div>
    </form>
</div>

<section class="mt-4">
    <div class="d-flex align-items-center mb-3">
        <div class="flex-grow-1 mb-0">
            <h1 class="border-bottom border-4 border-danger d-inline-block fw-semibold" style="width:auto">Featured</h1>
        </div>
        <div>
            <a asp-controller="Movies" asp-action="Index" class="text-danger fw-medium">View All</a>
        </div>
    </div>
    <div class="row row-cols-5 g-3">
        @{  
           Func<IEnumerable<Movie>, IEnumerable<Movie>> getMoviesByReleaseDate = (movies) => movies.OrderByDescending(m => m.ReleaseDate).Take(5);  
           var topMoviesByReleaseDate = getMoviesByReleaseDate(Model);
        }

        @foreach (var movie in topMoviesByReleaseDate)
        {
            <div class="col">
                <div class="card">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                        <img src="@movie.Poster" class="card-img"
                             alt="@movie.Name Cover" />
                    </a>
                </div>
            </div>
        }
    </div>
</section>

<section class="mt-5">
    <div class="d-flex align-items-center mb-3">
        <div class="flex-grow-1 mb-0">
            <h1 class="border-bottom border-4 border-danger d-inline-block fw-semibold" style="width:auto">Top Movies</h1>
        </div>
        <div>
            <a asp-controller="Movies" asp-action="Index" class="text-danger fw-medium">View All</a>
        </div>
    </div>
    <div class="row row-cols-5 g-3">
        @{
            Func<IEnumerable<Movie>, IEnumerable<Movie>> getMoviesByRating = (movies) => movies.OrderByDescending(m => m.Score).Take(5);
            var topMoviesByRating = getMoviesByRating(Model);
        }

        @foreach(var movie in topMoviesByRating)
        {
            <div class="col">
                <div class="card">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                        <img src="@movie.Poster" class="card-img"
                             alt="@movie.Name Cover" />
                    </a>
                </div>
            </div>
        }
    </div>
</section>