@model WebMovies.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex mt-5">
    <div>
        <img src="@Html.DisplayFor(model => model.Poster)" alt="@Html.DisplayFor(model => model.Name)" class="rounded-3" style="width: 480px;" />
    </div>
    <div class="flex-grow-1 ms-4">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <h1 class="mb-0 fw-semibold" style="line-height: 100%">@Html.DisplayFor(model => model.Name)</h1>
                @{
                    var movieDuration = Model.Duration;

                    <p class="small ms-1 d-inline-block fw-normal">@Html.DisplayFor(model => model.ReleaseDate) - @(@movieDuration / 60)h @(@movieDuration % 60)m</p>
                }
            </div>
            <div class="mt-1">
                <p class="h4 d-inline text-nowrap">@Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(model => model.Score)</p>
            </div>

        </div>
        <p class="fw-medium">@Html.DisplayFor(model => model.Genre)</p>
        <article>
            <p class="d-inline fw-bold">@Html.DisplayNameFor(model => model.Synopsis)</p>
            <p>@Html.DisplayFor(model => model.Synopsis)</p>
        </article>
        <article>
            <p class="d-inline fw-bold">@Html.DisplayNameFor(model => model.Director)</p>
            <p>@Html.DisplayFor(model => model.Director)</p>
        </article>
        <article>
            <p class="d-inline fw-bold">@Html.DisplayNameFor(model => model.ReleaseDate)</p>
            <p>@Html.DisplayFor(model => model.ReleaseDate)</p>
        </article>
        <article>
            <p class="d-inline fw-bold">@Html.DisplayNameFor(model => model.Cast)</p>
            <p>@Html.DisplayFor(model => model.Cast)</p>
        </article>
        <div class="d-flex gap-2">
            <form method="post">
                <input asp-for="Id" type="hidden" />
                <div class="d-flex gap-2">
                    <button asp-action="SaveToFavorites" type="submit" class="btn btn-primary">
                        Add to Favorites
                    </button>
                    <button asp-action="SaveToWatchlist" type="submit" class="btn btn-primary">
                        Add to Watchlist
                    </button>
                </div>
            </form>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ratingModal">
                Add Rating
            </button>
        </div>
        <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ratingModalLabel">Rate movie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="ratingForm" method="post" asp-action="AddRating">
                            <div class="form-group">
                                <label class="form-text">Rating</label>
                                <input type="number" class="form-control" id="score" name="score" min="1" max="10" required placeholder="Movie score (1-10)">
                            </div>
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn btn-primary mt-2">Add Rating</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
